<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="../static/script.js"></script>
    <title>GYM project</title>
</head>
<body>
<h1> Bem vindo </h1>
<p> criar conta <a href="/add_user">  aqui!! </a></p>
<p> fazer login <a href="/login"> aqui!! </a></p>
<p> adicionar caracteristicas <a href="/add_characteristics"> aqui !!</a></p>
<p> listar usuarios <a href="/user_list" > aqui!!</a></p>

</body>
</html>