<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2>Log in !!</h2>

<div th:if="${message}" style="color: #baea99;">[[${message}]]</div>
<div th:if="${error}" style="color: #f1aaf6;">[[${error}]]</div>

<form th:action="@{/login}" th:object="${user}" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:value="${user != null ? user.email : ''}" required><br>

    <label for="password">Passoword:</label>
    <input type="password" id="password" name="password" th:value="${user != null ? user.password : ''}" required><br>


    <button type="submit">Send</button>

</form>

<p>User Profile<a href="/user_profile">  aqui!! </a></p>


</body>
</html>