<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <link th:href="@{/images/favicon.png}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="body-standard">

<div th:replace="~{header :: nav}"></div>
<div class="container">

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td>
            <form th:action="@{/manage_users}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit" name="action" value="delete_user">Delete</button>
                <button type="submit" name="action" value="edit_user">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
